.user-name {
    font-size: 1.2rem;
    color: #af8c4c;
    font-family: 'Georgia', serif;
    margin: 10px 0;
    line-height: 1.6;
    font-weight: normal;
    transition: color 0.3s ease-in-out;
  }
  
  .user-name:hover {
    color: #8e6238;
  }
  
  @media (max-width: 768px) {
    .user-name {
      font-size: 1rem;
    }
  }
  