<footer class="footer">
  <div class="container">
    <div class="content">
      <div class="footer-left">
        <h2 class="footer-title">Manual de Ejercicios</h2>
        <p class="footer-description">
          Creado por: Diego Tecorralco
        </p>
      </div>
      <div class="footer-right">
        <p>Manual de ejercicios<br>Contiene ejercicios de angular del ejercicio 1 al ejercicio 21, tambien integramos tablas que contienen filtro de busqueda y graficas</p>
      </div>
    </div>
  </div>
</footer>