*{
    .textoSaludo{
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
    }
    .textoResaltado{
        color: rgb(0, 81, 255);
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
        font-size: xx-large;
    }
}