<p class="text-center text-lg font-semibold text-blue-600">Ejercicio-11 works!</p>

<!-- Imagen principal, centrada y estilizada -->
<div class="flex justify-center my-8">
  <img ngSrc="assets/images/shrek.jpg" alt="Ejemplo" class="rounded-lg shadow-lg" width="600" height="400">
</div>

<!-- Imagen prioritaria -->
<div class="flex justify-center my-8">
  <img ngSrc="assets/images/abeja.jpg" alt="Imagen Prioritaria" class="rounded-lg shadow-xl" width="600" height="400" priority>
</div>

<!-- Imagen con cargador (lazy loading y placeholder) -->
<div class="flex justify-center my-8">
  <img ngSrc="assets/images/osvaldo.jpg" alt="Imagen Cargada" class="rounded-lg shadow-lg" width="600" height="400" loading="lazy" placeholder="data:image/svg+xml;base64,...">
</div>
